// 
// Projects
// 

.projects-section {
    font-weight: bold;
    font-size: xx-large;
    background-color: white;
    background-image: url("../assets/img/TMA_SONGS_BACKGROUND.png");
    background-size: 1300px 1050px;
    padding: 10rem 0;
    background-color: #e6e200;
    .featured-text {
        padding: 2rem;

        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }

    .project-text {
        padding: 3rem;
        font-size: 90%;
        

        @include media-breakpoint-up(lg) {
            padding: 5rem;
        }
    }
}